<!DOCTYPE html>
<html lang="en">
<head>

    <title>Copenhagen students management system</title>
    <link rel="stylesheet" type="text/css"
          href="../../static/style.css"
          th:href="@{style.css}"/>
</head>
<body>
<h1>All students</h1>
<table>
    <tr>
        <td>StudentId</td>
        <td>Name</td>
        <td>Email</td>
        <td>Classname</td>
        <td>Age</td>
    </tr>
    <tr th:each="student: ${students}">
        <td th:text="${student.studentId}"/>
        <td th:text="${student.name}"/>
        <td th:text="${student.email}"/>
        <!-- http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#reformatting-dates-in-our-home-page -->
        <td th:text="${student.classname}"/>
        <td th:text="${student.age}"/>
        <td>
            <a th:href="@{/oneStudent(studentId=${student.studentId})}" class="btn" id="details">DETAILS</a>
            <a th:href="@{/update(studentId=${student.studentId})}" class="btn" id="edit">EDIT</a>
        </td>
    </tr>
</table>
</br>
<form action="/">
    <input type="submit" value="Back"/>
</form>
</body>
</html>