<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../css/style.css" />
</head>
<body>
<h1>Create Student</h1>

<form action="/create" method="post">
    <input type="number" name="studentId" placeholder="Student ID">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="classname" placeholder="Classname">
    <input type="number" name="age" placeholder="Age">
    <input type="submit" value="Save student">
</form>
</br>
<form action="/">
    <input type="submit" value="Back"/>
</form>

</body>
</html>