<!DOCTYPE html>
<html lang="en">
<head>
    <title>Copenhagen students management system</title>
    <link rel="stylesheet"
          href="C:\Users\Nisse\Desktop\Java Programs\Obligatorisk-Opgave-2.-semester-master\src\main\resources\static\style.css"
          th:href="@{style.css}"/>
</head>
<body>

<h1>Copenhagen students management system</h1>

<form action="/create">
    <input type="submit" value="Create student" id="cs"/>
</form>
</br>
<form action="/deleteStudent">
    <input type="submit" value="Delete student" id="ds"/>
</form>
</br>
<form action="/allStudents">
    <input type="submit" value="Show all students" id="sas"/>
</form>

<style>

</style>

</body>

</html>